/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #ffccdc;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #efccff;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #b3b3ff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccffeb;
  border-top: none;
}
.label{
  color:purple;

}

h1{
  font-family: Raleway;
  font-weight:800;
  text-transform: uppercase;
}

p{
  font-family: Raleway;
  font-size: 12px;
  font-weight: 800;
  padding-bottom:20px;
}